.cabecalho {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 2rem;
    align-items: center;
    padding: 3rem 1rem;
    
}

.cabecalho__logo {
    width: 22.5vw;
    padding: 2rem;
}

.cabecalho__pesquisa {
    background-color: #ffffff2d;
    color: #FFFFFF;
    width: 50vw;
    height: 2.5rem;
    padding: 1.35rem;
    border-radius: 8px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
}

.cabecalho__pesquisa::placeholder {
    color: #ffffffb9;
    opacity: 1;
}

.cabecalho__perfil {
    display: flex;
    align-items: center;
    padding-left: 8rem;
    width: 25vw;
}

.cabecalho__perfil-imagem {
    margin: 1rem;
}

.cabecalho__perfil-usuario {
    text-decoration: none;
    color: #FFFFFF;
}