.cadastro__container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    width: 25%;
}

.cadastro__titulo {
    font-size: 12px;
    letter-spacing: 0.4em;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.cadastro__nomeProjeto, .cadastro__descricao, .cadastro__opcoes {
    background-color: #ffffff2d;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.cadastro__nomeProjeto::placeholder, .cadastro__descricao::placeholder{
    color: #ffffffb9;
    opacity: 1;
}

.cadastro__nomeProjeto, .cadastro__opcoes {
    padding: 0.85rem;
}

.cadastro__descricao {
    margin: 0 0 3rem 0;
    padding: 1.2rem 0.85rem;
    resize: none;
}

.cadastro__opcoes {
    color: #ffffffb9;
    width: 100%;
}

.cadastro__opcoes > option {
    background-color: #051d3bc5;
    font-size: 0.95rem;
}

.cadastro__cor {
    background-color: transparent;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0.25rem;
    width: 100%;
}

.cadastro__botao {
    background-color: #5081FB;
    border: none;
    border-radius: 8px;
    color: #051D3B;
    padding: 0.85rem;
}

@media screen and (max-width: 768px) {
    .cadastro__container {
        margin: 2rem 1rem;
        padding: 0; 
        width: 95%;
    }

    .personalizacao__container {
        display: flex;
        flex-direction: row;
    }

    .cadastro__opcoes {
        height: 3rem;
        margin-right: 0.5rem;
        width: 50%;
    }

    .cadastro__cor {
        height: 3rem;
        margin-left: 0.5rem; 
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .personalizacao__container {
        flex-direction: column;
    }

    .cadastro__container {
        width: 90%;
    }

    .cadastro__opcoes {
        margin-right: 0;
        width: 100%;
    }

    .cadastro__cor {
        margin-left: 0; 
        width: 100%;
    }
}
