.editor__container {
    display: flex;
    width: 50vw;
    height: 60vh;
    background-color: #6BD1FF;
    border: none;
    border-radius: 8px;
    padding: 2.2rem;
}

.editor__conteudo {
    background-color: #141414;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 16px 37px -14px rgba(0,0,0,0.75);
    
}

.editor__iconeMac {
    padding: 1rem;
}

.editor__texto {
    width: 100%;
    height: 80%;
    background-color: #141414;
    color: #FFFFFF;
    border: none;
    padding: 1.2rem;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    line-height: 18.46px;
    resize: none;
}

.editor__texto:focus {
    outline: 0;
}

.editor__botao {
    width: 100%;
    height: 3rem;
    background-color: #5081FB14;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    margin: 1rem 0;
}