.editor__secao {
    width: 57%;
}

.editor__container {
    background-color: #6BD1FF;
    border: none;
    border-radius: 8px;
    display: flex;
    height: 85%;
    padding: 2.2rem;
    width: 100%;
}

.editor__conteudo {
    background-color: #141414;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 16px 37px -14px rgba(0,0,0,0.75);
    height: 100%;
    width: 100%;
    
}

.editor__iconeMac {
    padding: 1rem;
}

.editor__texto {
    background-color: #141414;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    height: 80%;
    line-height: 18.46px;
    padding: 1.2rem;
    resize: none;
    width: 100%;
}

.editor__textoCodigo {
    height: 100%;
    white-space: pre-wrap;
    outline: 0;
}

.editor__botao {
    background-color: rgba(80, 129, 251, 0.08);
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    height: 3rem;
    margin: 1rem 0;
    width: 100%;
    transition: 1s;
}

.editor__botao:hover {
    background-color: rgba(80, 129, 251, 0.16);
    
}

.editor__botao:active {
    border: 4px solid rgba(80, 129, 251, 0.24);
    transition: 0s;
}

@media screen and (max-width: 768px) {
    .editor__secao {
        height: 28.125rem;
        padding: 0 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .editor__secao {
        height: 34.375rem;
    }
}

